.header{
    background-image: linear-gradient(rgba($color-secondary,0.93),rgba($color-secondary,0.93)),
                      url(../img/hero.jpeg);
    background-size: cover;
    background-position: center;

    //GRID LAYOUT-ITEM
    grid-column: full-start / col-end 6;

     //GRID LAYOUT-CONTAINER
     display: grid;
     grid-template-rows: 1fr min-content minmax(6rem,min-content) 1fr; //1fr will take 80% of vh, because in .container class's 1st row
     grid-template-columns: minmax(min-content,max-content); //responsive
     grid-row-gap: 1.5rem;
     justify-content: center;
    
     padding: 8rem;
     padding-top: 4rem;


    @media only screen and (max-width:$bp-medium){
       grid-column: 1 / -1;
    
    }


    &__logo{
        height: 3rem;
        justify-self: center;

    }
    &__seenon-text{
        
        font-size: 1.6rem;
        color: $color-grey-light-2;


        //GRID LAYOUT-CONTAINER
        display: grid;
        grid-template-columns: 1fr max-content 1fr; // min-content would create line-break
        grid-column-gap: 1.5rem;
        align-items: center;


        &::before,
        &::after{

            content: "";
            display: block;
            height: 1px;
            background-color:currentColor; //color property wont work

        }


    }
    &__seenon-logos{
        //GRID LAYOUT-CONTAINER
         display: grid;
         grid-template-columns: repeat(4,1fr);
         grid-column-gap: 3rem;
         justify-items: center;
         align-items: center; //responsive

        img{
            max-height: 2.5rem; //responsive
            max-width: 100%;
            filter: brightness(70%);
        }
    }
    &__btn{
        align-self: start;
        justify-self: start;
    }
}